form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-container {
  margin: 25px auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg);
  font-size: 1.1em;
  border-radius: 5px;
}

.form-sub-container {
  flex: 1;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-btn,
.loading-btn {
  margin: 15px auto;
  width: 200px;
}

.error {
  color: var(--neon-orange);
  margin-bottom: 10px;
}

input {
  height: 35px;
  border: none;
  font-size: 1.2em;
  margin-bottom: 10px;
}
