@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.header {
  background-color: var(--bg);
  /* height: 50px; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;
  /* position: sticky; */
  top: 0;
  z-index: 10;
  justify-content: space-between;
  padding: 0;
  border-bottom: var(--border);
}

.header-title {
  font-family: 'Squada One', cursive;
  flex: 2;
}

.header-reel {
  height: 50px;
}

nav > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.nav-user {
  display: flex;
}

.nav-user > a {
  color: white;
  width: 100px;
}

.sign-nav {
  margin: 0 10px 0 auto;
  min-width: 60px;
}

.carousel-h2 {
  position: absolute;
  bottom: 20px;
  left: -5px;
  background-color: var(--bg);
  opacity: 0.9;
  font-family: 'Squada One', cursive;
  font-size: 40px;
  letter-spacing: 0.04em;

  border-radius: 5px;
  padding: 20px 40px;
  color: white;
}

.search {
  width: 250px;
  height: 31px;
  margin: 0;
}

.search:focus {
  outline: none;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 290px;
  margin: auto;
}

.search-btn {
  height: 33px;
  font-size: 1.2em;
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
}

nav > div {
  font-size: 1.1em;
}

.nav-h2 {
  text-align: end;
}

.home-a {
  display: flex;
  align-items: center;
}

.home-a > a,
.nav-h2 {
  margin-left: 5px;
  transition: 0.3s;
  padding: 5px 10px;
  margin: 5px;
}

.home-a > a:hover,
.nav-h2:hover {
  background-color: rgba(128, 128, 128, 0.61);
  border-radius: 5px;
}

.expand {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #header-form {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .search {
    min-width: 100px;
  }

  .back-drop {
    background-position: center center;
  }

  .carousel-h2 {
    font-size: 30px;
  }
}
