@import './movie.css';
@import './header.css';
@import './form.css';
@import './switch.css';
@import './dropdown.css';
@import './profile.css';
@import './stars.css';
@import './searchresult.css';

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap');

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --neon-orange: #ff6700;
}

* {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: white;
}

button {
  background-color: var(--neon-orange);
  max-width: 250px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  outline: none;
}

button:hover {
  background-color: rgb(255, 115, 0);
}

.title-h2 {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.h2__before::before {
  height: 100%;
  width: 12px;
  content: ' ';
  outline: solid var(--neon-orange);
  margin-right: 10px;
}

.slider__container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.slider {
  width: 90%;
}

form > label {
  display: none;
}

.hide__watchlist {
  padding: 2rem 4rem;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: 0.3s ease;
}
.hide__watchlist:hover {
  background-color: #80808093;
  cursor: pointer;
}

@media screen and (max-width: 380px) {
  .title-h2 {
    font-size: 25px;
  }
  .hide__watchlist {
    padding: 1rem;
  }
}
